.container {
  box-sizing: border-box;
  min-width: 1440px;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 64px;
}

.main {
  padding-bottom: 32px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  font-family: var(--font-family);
  font-weight: 600;
  color: var(--neutral-600);

  background-color: var(--neutral-100);
}

img {
  pointer-events: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
}

button:not(:disabled) {
  cursor: pointer;
}
