.header {
  background-image: linear-gradient(
    90deg,
    var(--primary-400) 0%,
    var(--primary-600) 100%
  );
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header__logo-link {
  height: 22px;
}

.header__nav-list {
  display: flex;
  column-gap: 24px;
}

.header__block {
  display: flex;
  column-gap: 64px;
  align-items: center;
}

.header__nav-link {
  padding-block: 8px;
  font-size: 16px;
  line-height: 24px;
}

.header__info {
  text-align: right;
}

.header__phone {
  font-size: 18px;
  line-height: 24px;
}

.header__order-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.header__menu {
  display: flex;
  column-gap: 16px;
}

.header__menu-btn {
  width: 56px;
  height: 48px;
  border-radius: var(--border-radius);
}

.header__menu-btn--profile {
  border: 2px solid var(--neutral-1000);
}

.header__menu-btn--basket {
  background-color: var(--neutral-1000);
}

.header__menu-btn-img {
  aspect-ratio: 1;
  width: 24px;
}
